body{background-color: #708090}
#dvasosverdes{
	background-color: #6262cd;
}
#listavv{
	list-style:none;
	margin: 0;
	padding: 0;
}
#volver{
	color: #ffff;
}
#dvasoscorona{
	background-color: #6262cd;
}
#listavco{
	list-style: none;
	margin: 0;
	padding: 0;
}
#dvasostr{
	background-color: #6262cd;
}
#listavtr{
	list-style: none;
	margin: o;
	padding: 0;
}